
.link-arrow a{
    color:#34495E;
    text-decoration: none;
}

.link-arrow:hover a img{
    transform: translateX(20px);
}

.project-card{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
}

button a{
    text-decoration: none;
}
button a:visited{
    color:inherit;
}

button a:link{
    color:inherit;
}

button a:active{
    color:inherit;
}

