img{
    border-radius: 2%;
}
/* img:hover {
    width: 600px;
    height: 300px;
  } */

button a{
    text-decoration: none;
}
button a:visited{
    color:inherit;
}

button a:link{
    color:inherit;
}

button a:active{
    color:inherit;
}
